.searchResult {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  width: calc(50% - 9px);
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
}
.imagebg {
  width: 100%;
  height: 336px;
  background-color: #fafafa;
  position: relative;
}

.image {
  width: 100%;
  height: 336px;
  background-color: #fafafa;
}

.imageTopRight {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 74px;
  height: 74px;
  background: transparent;
}

.imageLeftBottom {
  position: absolute;
  left: 18px;
  bottom: 18px;
  width: 110px;
  height: 72px;
  background: transparent;
}

.title {
  font-size: 30px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(29, 30, 31, 1);
  line-height: 40px;
  height: 80px;
  margin-top: 24px;
  margin-left: 6px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.subtitle {
  font-size: 24px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(29, 30, 31, 0.6);
  line-height: 33px;
  margin-top: 12px;
  margin-left: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.priceContainer {
  margin-top: 16px;
  margin-left: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.price {
  height: 30px;
  font-size: 28px;
  font-family: PingFangHK-Semibold;
  font-weight: 600;
  color: rgba(238, 26, 34, 1);
  line-height: 30px;
}

.discount {
  margin-left: 12px;
  width: 66px;
  height: 30px;
  background: rgba(253, 232, 229, 1);
  font-size: 20px;
  font-family: PingFangSC-Bold;
  font-weight: bold;
  color: rgba(238, 26, 34, 1);
  line-height: 30px;
  text-align: center;
}
.originalPrice {
  margin-top: 10px;
  margin-left: 6px;
  font-size: 24px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: rgba(29, 30, 31, 0.5);
  line-height: 24px;
  text-decoration: line-through;
}
